@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

body {
  background-color: #f0ffff;
  font-family: "Poppins", sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.form-container {
  background-color: #b2beb5;
  width: 600px;
  height: 700px;
  /* border: 2px solid black; */
  border-radius: 2rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

h1 {
  margin-bottom: 2rem;
  text-align: center;
}

.input-container {
  width: 80%;
  padding: 1rem 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.input-container input {
  width: 100%;
  padding: 1rem;
  border-radius: 1rem;
  border: none;
  font-size: 1.5rem;
}

.input-container label {
  padding: 1rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.terms {
  white-space: nowrap;
}

.terms label {
  font-size: 1.2rem;
  white-space: normal;
  display: inline-block;
}

#terms {
  width: auto;
}

.star {
  color: red;
  padding-left: 1rem;

  font-size: 1rem;
}

.btn {
  width: 40%;
  border: none;
  border-radius: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1.5rem;
}

.buttons-container {
  display: flex;
  justify-content: space-around;
  margin-left: 1rem;
  margin-right: 1rem;
}

.btn-login {
  background-color: darkgray;
}

.btn-login:hover {
  background-color: darkslategray;
  color: white;
  cursor: pointer;
}
